<!-- PARTNERS SECTION -->
<div id="partners">
  <div class="py-5 text-center">
    <div class="container">
      <h3 *ngIf="true" [style]="partnerHeading">Below are our Corporate Partners</h3>
      <table class="table table-striped table-hover table-bordered align-middle">
        <thead>
          <tr>
            <th scope="col">Company</th>
            <th scope="col">Trademark</th>
            <th scope="col">Sponsorship</th>
            <th scope="col" [style.width]="colwidth">Go to their Website</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of partners">
            <td>
              {{i.company}}
            </td>
            <td>
              <img [style]="logoStyles" [src]="i.trademark"/>
            </td>
            <td>
              {{i.sponsorship}}
            </td>
            <td>
              <a [href]="i.website" [style.text-decoration]="linkStyle">View Website</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
