<div class="container">
  <h3>Fill the Form Below</h3><hr>
  <form class="row g-3" [style]="form">
    <div class="col-md-6">
      <label for="fname" class="form-label">First Name</label>
      <input type="text" [(ngModel)]="Fname" name="fname"
      class="form-control" id="fname"/>
    </div>
    <div class="col-md-6">
      <label for="lname" class="form-label">Last Name</label>
      <input type="text" [(ngModel)]="Lname" name="lname"
      class="form-control" id="lname"/>
    </div>
    <!-- NAME OUTPUT -->
    <p [style]="outputStyle">Full Name: {{Fname}} {{Lname}}</p>
    <div>
      <label for="email" class="form-label">Enter Email Address</label>
      <input type="email" [(ngModel)]="Email" name="email"
      class="form-control" id="email"/>
    </div>
    <!-- EMAIL ADDRESS OUTPUT -->
    <p [style]="outputStyle">Email: {{Email}}</p>
    <div>
      <label for="school" class="form-label">Enter Institution/Affiliation</label>
      <input type="text" [(ngModel)]="School" name="school"
      class="form-control" id="school"/>
    </div>
    <!-- ACADEMIC INSTITUTION OUTPUT -->
    <p [style]="outputStyle">Academic Institution: {{School}}</p>
  </form>
</div>